@{
    Layout = null;
    ViewBag.Title = "index";
}

@{
    /**/
    Layout = null;
    ViewBag.Title = "register";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Title Page-->
    <title>MIS API</title>

  
   
    <!-- Main CSS-->
    <link href="~/content/colorlibAssets/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">

                    <h3 class="page-title" style="text-align:center">API Project Run Successfully. </h3>
                </div>
            </div>
        </div>
    </div>

    <script src="~/content/colorlibAssets/js/global.js"></script>
</body>
</html>
